extends include/layout
block content
	.clothes
		.banner
		.clothes_nav
			.tab
				a.active(href="javascript:") 女装
				a(href="javascript:") 鞋帽
				a(href="javascript:") 箱包
				a(href="javascript:") 配饰
				.clear
			.list_group
				.list
					a(href="javascript:") 2016女装春夏满500包邮
					a(href="javascript:") 潮流新爆品
					a(href="javascript:") 连衣裙
					a(href="javascript:") 半身裙
					a(href="javascript:") T恤
					a(href="javascript:") 衬衫
					a(href="javascript:") 套装
					a(href="javascript:") 牛仔裤
					a(href="javascript:") 蕾丝衫
					a(href="javascript:") 针织衫
					a(href="javascript:") 风衣
					a(href="javascript:") 外套
					a(href="javascript:") 卫衣
					a(href="javascript:") 打底裤
					a(href="javascript:") 休闲裤
					a(href="javascript:") 大码
					a(href="javascript:") 中老年
				-for(i = 1; i < 4; i++){
					.list
						a(href="javascript:") 潮流新爆品
						a(href="javascript:") 潮流新爆品
						a(href="javascript:") 潮流新爆品
				-}

	.goods_group.wrap.hot_goods
		.goods_list
			- for(i = 0; i < 40; i++){
				.goods
					a.goods_image(href="buy.html")
						img(src="image/pic_goods.jpg")
					.goods_title 新款重工刺绣黑色蕾丝绣花连衣裙
					.goods_brand
						span 奈希雅
						a.btn(href="buy.html") 查看详情
			- }
			.clear
		.page
			a.first(href="javascript:") 首页
			a.prev(href="javascript:") 上一页

			- for(i = 0; i< 10;i++){
				- if(i == 0){
					a.active(href="javascript:" data-page="#{i+1}") #{i+1}
				- }else{
					a(href="javascript:" data-page="#{i+1}") #{i+1}
				- }
			- }

			a.next(href="javascript:") 下一页
			a.last(href="javascript:") 末页

			select
				- for(i = 0; i< 10;i++){
					option(value="#{i+1}") #{i+1}
				- }

			span 共 10 页 320 条

	script.
		$(function(){
			this_page(1)

			clothes_tab_change()

			function clothes_tab_change(){
				var _this_active = 0 
				
				$('.clothes_nav .tab a').hover(function(){
					$(this).parent().find('.active').removeClass('active')
					$(this).addClass('active')
				},function(){
					$(this).parent().find('.active').removeClass('active')
					$(this).parent().find('a').eq(_this_active).addClass('active')
				}).trigger('mouseout')

				$('.clothes_nav .tab').on('click', 'a', function(){
					_this_active = $(this).index()
					$(this).parent().find('.active').removeClass('active')
					$(this).addClass('active')
					$('.clothes_nav .list').not(_this_active).hide()
					$('.clothes_nav .list').eq(_this_active).show()
				})
			}
		})